
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Data List</title>
</head>
<body>
    <h1>Items from API</h1>
    <% const apiUrl = "https://pokeapi.co/api/v2/pokemon-species/"; %>
    <% if (pokedex.results && pokedex.results.length > 0) { %>
        <ul>
            <% pokedex.results.forEach(function(pokemon) { %>
                <% var pokemonNumber = pokemon.url || JSON.stringify(pokemon.url); %>
                <% var pokemonId = pokemonNumber.replace(apiUrl, ""); %>
                <% pokemonId = pokemonId.slice(0,-1); %>
                <% var pokemonName = pokemon.name || JSON.stringify(pokemon)%>

                <li>#<%= pokemonId%> <%= pokemonName %></li> 

            <% }); %>
        </ul>
    <% } else { %>
        <p>No items found or data is empty.</p>
    <% } %>
</body> 
</html>
